
body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

h1, h3 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.table {
    background-color: #fff;
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

canvas {
    max-width: 100%;
    height: auto;
}
